body {
    background-color: antiquewhite;
    color:darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.title-header {
    text-align: center;
    font-size: 56px;
}

.section-links {

}

.recipe-links {

}

a {
    color:darkslategray;
}

a:visited {
    color: darkslateblue
}

a:hover {
    color: darkgoldenrod;
}